body {
    margin: 0;
    background-color: black;
    min-width: 400px;
    min-height: 600px;
}

#p5_loading {
    position: absolute;
    width: 96px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#p5_loading img {
    animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;

    -webkit-animation-name: loadingAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
}

main {
    display: flex;
    justify-content: center;
}

.desktop {
    position: absolute;
    height: -webkit-fill-available;
}

.mobile {
    position: absolute;
    width: -webkit-fill-available;
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}

@-webkit-keyframes loadingAnimation {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% { 
        -webkit-transformtransform: rotate(360deg);
    }
}